{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="body">
    <h1>Delete Expense</h1>

    <!-- Delete Expense Form -->
    <div class="form">
        <form method="POST" action="{% url 'delete-expense' expense.id %}">
            {% csrf_token %}
            {% for field in form %}

            <label for="title">{{ field.label}}</label>
                {{ field }}
            {% endfor %}

            <!-- Delete Button -->
            <input type="submit" value="Delete">

        </form>
        <!-- End Delete Expense Form -->

    </div>
</div>

{% endblock %}