{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="body">

    <h1>Enter your data</h1>
    <!-- Profile Create Form -->
    <div class="form">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <label for="budget">{{ field.label }}</label>
                {{ field.errors }}
                {{ field }}
            {% endfor %}

            <!-- Profile Create Button -->
            <input type="submit" value="Submit">
        </form>
    </div>
    <!-- End Profile Create Form -->
</div>

{% endblock %}
