{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Create Page-->
<section class="createPage">

    <form method="POST">
        <fieldset>
            <legend>Add Album</legend>
            <div class="container">
                {% csrf_token %}
                {% for field in form %}
                <!-- Form for Adding Album -->
                <label for="{{ field.label }}">{{ field.label}}</label>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Add New Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}
